langchain
langchain-anthropic
anthropic
fastapi
uvicorn[standard]
langchain-google-genai
google-generativeai
pymupdf
python-docx
python-pptx
unstructured[pdf]
python-magic
langdetect
tqdm
streamlit
nltk
openai
spacy
hdbscan
pinecone
rank_bm25
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz#egg=en_core_web_sm

pytesseract
pdf2image
Pillow
onnxruntime